*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position:fixed;
    top:0;
    left:0;
    padding: 20px 100px;
    width: 100%;
    background-color: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navigation a{
    position:relative;
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left:30px ;
}
.navigation a::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #252323;
    border-radius: 5px;
    left: 0;
    bottom: -0;
    transform-origin: right;
    transform:scaleX(0);
    transition: transform .3s;
}
.navigation a:hover::after{
    transform:scaleX(1);
    transform-origin:left;

}
.navigation .btnLogin-popup{
    height: 30px;
    width: 100px;
    background: transparent;
    border: 2px solid ;
    outline: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 1.3em;
    margin-left: 30px;
    font-weight: 500;
    transition: 0.4s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #000;
}
.wrapper{
    position: relative;
    width: 360px;
    height: 400px;
    background:transparent ;
    border: 2px solid rgb(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter:blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #162938;
    color: #fff;
    font-size: 2.4em;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.form-box h2{
    font-size:3em;
    color: #162938;
    text-align: center;
}
.input-box{
    width: 100%;
    height: 30px;
     /* color: #1db722;  */
    border-bottom: 2px solid #162938;
    border-radius: 5px;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    /* top: 50%; */
    left: 110px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    line-height: 30px;
}


.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
}
.input-box .icon{
    position:absolute;
    right: 70px;
    font-size: 1.5em;
    color: #162938;
    line-height: 30px;
}


.btn{
    width: 100%;
    height: 43px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 500;
}

#showuname{
    position: absolute;
    top: 20%;
    left: 20%;
}
#showemail{
    position: absolute;
    top: 35%;
    left: 20%;
}
#showpassword{
    position: absolute;
    top: 50%;
    left: 20%;
}
#showcpassword{
    position: absolute;
    top: 65%;
    left: 20%;
}